::ng-deep .node circle {
    stroke-width: 3px;
  }
  
  ::ng-deep .node text {
    font: 12px sans-serif;
  }
  
  ::ng-deep .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
  }

  ::ng-deep .shadow {
    background: red;
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    /* Similar syntax to box-shadow */
  }